# Miryo Toolchain Configuration

[tools]
mahoc = ["./dist/mahoc", "./src/MahoCli/bin/Debug/net10.0/mahoc.dll", "mahoc"]
il2llvmir = ["./dist/il2llvmir", "il2llvmir"]
llvm_opt = ["opt", "/usr/bin/opt"]
llvm_clang = ["clang", "/usr/bin/clang"]

[templates]
bin_template = "EntryFile : \"src/Program.mh\";\nImplicitTopLevel : true;\n"
lib_template = "EntryFile : \"src/Lib.mh\";\nImplicitTopLevel : false;\n"
bin_source_path = "src/Program.mh"
bin_source = "println(\"Hello from Maho!\");\n"
lib_source_path = "src/Lib.mh"
lib_source = "public struct Lib;\n"
gitignore = "target/\nbin/\nobj/\ndist/\n"
